<%- include('../includes/head.ejs') %>
</head>

<body class="hold-transition login-page">
  <!-- Navbar -->
  <%- include('../includes/preloader.ejs') %>
  <!-- /.navbar -->
  <div class="login-box">
    <%- include('login-logo.ejs') %>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <% if (query.error === 'true') { %>
        <p class="login-box-msg text-danger">
          Invalid email and/or password.
        </p>
        <% } else { %>
        <p class="login-box-msg">
          <% if (path === '/login') { %>
          Sign in to start your session
          <% } %>
          <% if (path === '/staff/login') { %>
          For staff only
          <% } %>
        </p>
        <% } %>

        <form action="<%= path %>" method="post">
          <div class="input-group mb-3">
            <input id="tb_Email" name="email" type="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input id="tb_Password" name="password" type="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" href="/">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <% if (path === '/login') { %>
          <a class="btn btn-block btn-outline-primary text-uppercase" href="/staff/login">
            <i class="fas fa-link"></i> Staff Login
          </a>
          <% } %>
          <% if (path === '/staff/login') { %>
          <a class="btn btn-block btn-outline-primary text-uppercase" href="/login">
            <i class="fas fa-link"></i> Patient Login
          </a>
          <% } %>
        </div>

        <p class="text-center mb-1">
          <a href="/register">Register my account</a>
        </p>
        <p class="text-center mb-1">
          <a href="/forgot-password">I forgot my password</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
      <div class="social-auth-links text-center mb-3">
        <a href="/#">View Clinics</a> &bull;	
        <a href="/#">FAQ</a> 
      </div>
  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

</body>
</html>