<%- include('../includes/head.ejs') %>
</head>

<body class="hold-transition login-page">
  <!-- Navbar -->
  <%- include('../includes/preloader.ejs') %>
  <!-- /.navbar -->
  <div class="login-box">
    <%- include('login-logo.ejs') %>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <% if (query.error === 'true') { %>
        <p class="login-box-msg text-danger">
          Duplicate email found!
        </p>
        <% } else if (query.type === 'success') { %>
          <p class="login-box-msg text-success">Register successfully! Please login with your clinic email and clinic phone number as password.</p>
        <% } else { %>
        <p class="login-box-msg">
          Register your clinic
        </p>
        <% } %>

        <form action="<%= path %>" method="post">
          <div class="col mb-3">
            <div class="form-group">
              <label for="tb_Name">Enter Clinic Name<span style="color:red;">*</span></label>
              <input type="text" class="form-control" id="tb_Name" name="clinicName" placeholder="Enter clinic name" tabindex="2" required>
            </div>
          </div>
          <div class="col mb-3">
            <div class="form-group">
              <label for="tb_Name">Enter Clinic Address<span style="color:red;">*</span></label>
              <input type="text" class="form-control" id="tb_Address" name="clinicAddress" placeholder="Enter clinic address" tabindex="9"required>
            </div>
          </div>
          <div class="col mb-3">
            <div class="form-group">
              <label for="tb_Postal">Enter Clinic Postal<span style="color:red;" >*</span></label>
              <input type="text" class="form-control" id="tb_Postal" name="clinicPostal" pattern="\b[0-9]{6}\b" placeholder="Enter clinic postal" title="E.g 543210" tabindex="10" required>
            </div>
          </div>
          <div class="col mb-3">
            <div class="form-group">
              <label for="tb_Unit">Enter Clinic Unit Number<span style="color:red;">*</span></label>
              <input type="text" class="form-control" id="tb_Unit" name="clinicUnit" placeholder="Enter clinic unit number" tabindex="11" required>
            </div>
          </div>
          <div class="col mb-3">
            <div class="form-group">
              <label for="tb_Email">Enter Clinic Email Address<span style="color:red;">*</span></label>
              <input type="email" class="form-control" id="tb_Email" name="clinicEmail" placeholder="Enter clinic email address" tabindex="5" required>
            </div>
          </div>
          <div class="col mb-3">
            <div class="form-group">
              <label for="tb_Email">Enter Clinic Sub Email Address (optional)</label>
              <input type="email" class="form-control" id="tb_SubEmail" name="clinicSubEmail" placeholder="Enter clinic sub email address" tabindex="3">
            </div>
          </div>
          <div class="col mb-3">
            <div class="form-group">
              <label for="tb_Phone">Enter Clinic Phone Number<span style="color:red;">*</span></label>
              <input type="text" class="form-control" id="tb_Phone" name="clinicPhone" pattern="^[0-9]{8}$" placeholder="Enter clinic phone number" title="E.g 98765432" tabindex="3" required>
            </div>
          </div>
          <div class="col mb-3">
            <div class="form-group">
              <label for="tb_Phone">Enter Clinic Sub Phone Number (optional)</label>
              <input type="text" class="form-control" id="tb_SubPhone" name="clinicSubPhone" pattern="^[0-9]{8}$" title="E.g 98765432" placeholder="Enter clinic sub phone number" tabindex="3">
            </div>
          </div>


          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  I agree to the terms
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" href="/">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mb-1">
          <a href="/staff/login">Login as Admin</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

</body>

</html>