<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<!-- <link rel="stylesheet" href="/css/custom-input-date.css"> -->

<!-- Select2 -->
<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path.split('/')[3] %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>

              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-capitalize"><%= actionText %> Appointment Form</h3>
                </div>
                <!-- /.card-header -->

                <% if (_userRole === "Patient" && !query.clinicId && actionText !== 'edit') { %>
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="ddl_Clinic">List of Clinics<span style="color:red;">*</span></label>
                          <select id="ddl_Clinic" name="clinicId" class="form-control select2bs4" style="width: 100%;" required>
                            <option selected="selected" disabled>Find clinic...</option>
                            <% for (let i = 0; i < clinicData.length; i++) { %>
                            <option value="<%= clinicData[i].clinicId %>"><%= clinicData[i].clinicId %>. <%= clinicData[i].clinicName %> | <%= clinicData[i].clinicAddress + ' #' +  clinicData[i].clinicUnit + ' (S)' + clinicData[i].clinicPostal %></option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        Suggestions based on your home address <span class="badge bg-secondary"><%= nearbyClinicData.length %></span>:
                        <ul>
                          <% for (let i = 0; i < nearbyClinicData.length && i < 5 ; i++) { %>
                          <li><a href='/patient/appointment/create?clinicId=<%= nearbyClinicData[i].clinicId %>'><%= nearbyClinicData[i].clinicId %>. <%= nearbyClinicData[i].clinicName %></a></li>
                          <% } %>
                        </ul>
                        <% if (nearbyClinicData.length <= 0) { %>
                        No clinics near you.
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Next</button>
                  </div>
                </form>
                <% } %>

                <% if ( ( (_userRole !== "Patient" || (_userRole === "Patient" && query.clinicId > 0) ) && dentistData.length > 0) || actionText === 'edit') { %>
                <!-- form start -->
                <form action="<%= path %>" method="post">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <!-- Admin Fields -->
                          <% if (path === '/admin/appointment/create') { %>
                          <label for="ddl_NRIC">Patient's NRIC<span style="color:red;">*</span></label>
                          <select id="ddl_NRIC" name="patientId" class="form-control select2bs4" style="width: 100%;" tabindex="1">
                            <option selected="selected" disabled>Find NRIC...</option>
                            <% for (let i = 0; i < userData.length; i++) { %>
                            <option value="<%= userData[i].patientId %>"><%= userData[i].nric %></option>
                            <% } %>
                          </select>
                          <input type="hidden" name="userType" value="admin">
                          <% } %>

                          <!-- Patient Fields -->
                          <% if (path === '/patient/appointment/create' || path === '/admin/appointment/edit' || path === '/patient/appointment/edit') { %>
                          <label for="tb_NRIC">Patient's NRIC<span style="color:red;">*</span></label>
                          <input type="text" class="form-control-plaintext" id="tb_NRIC" name="nric" placeholder="S1234567Z" tabindex="1" value="<%= userData.nric %>" required readonly>
                          <input type="hidden" name="patientId" value="<%= userData.patientId %>">
                          <input type="hidden" name="userType" value="patient">
                          <% } %>
                        </div>
                        <div class="form-group">
                          <% if (actionText === 'create') { %>
                          <label for="ddl_Dentist">Choose Dentist<span style="color:red;">*</span></label>
                          <select id="ddl_Dentist" name="staffId" class="form-control select2bs4" style="width: 100%;" tabindex="3">
                            <option selected="selected" disabled>Find dentist...</option>
                            <% for (let i = 0; i < dentistData.length; i++) { %>
                            <option value="<%= dentistData[i].staffId %>">Dr. <%= dentistData[i].firstName %> <%= dentistData[i].lastName %></option>
                            <% } %>
                          </select>
                          <% } %>
                          <% if (actionText === 'edit') { %>
                          <label for="tb_Dentist">Dentist<span style="color:red;">*</span></label>
                          <input type="text" class="form-control-plaintext" id="tb_Dentist" name="dentist" placeholder="Dr. First Last" tabindex="3" value="Dr. <%= dentistData.firstName + ' ' + dentistData.lastName %>" required readonly>
                          <input type="hidden" name="staffId" value="<%= dentistData.staffId %>">
                          <% } %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_ClinicName">Clinic Name<span style="color:red;">*</span></label>
                          <% if (actionText === 'create') { %>
                          <input type="text" class="form-control-plaintext" id="tb_ClinicName" name="name" placeholder="Clinic Name" tabindex="2" value="<%= dentistData[0].clinicName %>" required readonly>
                          <input type="hidden" name="clinicId" value="<%= dentistData[0].clinicId %>">
                          <% } %>
                          <% if (actionText === 'edit') { %>
                          <input type="text" class="form-control-plaintext" id="tb_ClinicName" name="name" placeholder="Clinic Name" tabindex="2" value="<%= dentistData.clinicName %>" required readonly>
                          <input type="hidden" name="clinicId" value="<%= dentistData.clinicId %>">
                          <% } %>
                        </div>
                        <div class="form-group">
                          <label for="tb_ApptDateTime">Appointment Date & Time<span style="color:red;">*</span></label>
                          <div class="input-group date" id="tb_ApptDateTime" data-target-input="nearest">
                            <input type="text" name="startDateTime" min="<%= new Date().toISOString().split('T')[0] %>" class="form-control datetimepicker-input" data-target="#tb_ApptDateTime" tabindex="4" placeholder="DD/MM/YYYY hh:mm" value="<%= userData.startDateTime ? userData.startDateTime : '' %>" />
                            <div class="input-group-append" data-target="#tb_ApptDateTime" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer text-right">
                    <% if (path === '/admin/appointment/edit' || path === '/patient/appointment/edit') { %>
                    <input type="hidden" name="apptId" value="<%= userData.apptId %>">
                    <input type="hidden" name="for" value="<%= path.split('/')[1] %>">
                    <% } %>
                    <% if (path !== '/patient/appointment/edit' && path !== '/admin/appointment/edit') { %>
                    <button type="reset" class="btn btn-outline-danger mr-1">Clear</button>
                    <% } %>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
                <% } %>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- Select2 -->
  <script src="/plugins/select2/js/select2.full.min.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/plugins/moment/moment.min.js"></script>
  <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>

  <!-- Page specific script -->
  <script>
    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    });

    $('button[type=reset]').on('click', () => {
      $('#tb_NRIC').val('Find NRIC...').trigger('change');
    });

    //Date and time picker
    $('#tb_ApptDateTime').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      minDate: new Date(),
      icons: {
        time: 'far fa-clock'
      }
    });
  </script>
</body>

</html>