<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<link rel="stylesheet" href="/css/custom-input-date.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path.split('/')[3] %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Error Message -->
              <% if (query.error === 'true') { %>
              <div class="callout callout-danger">
                <h5><i class="fas fa-exclamation-triangle"></i> Warning</h5>
                Duplicate SKU found.
              </div>
              <% } %>
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-capitalize"><%= actionText %> Inventory Inbound Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="<%= path %>" method="post">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_itemName">Item Name<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_itemName" name="itemName" pattern="[a-zA-Z\s]+" title="E.g Antibiotics" placeholder="Antibiotics" value="<%= actionText === 'edit' ? inventoryData.name : '' %>" tabindex="1" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_expiry">Expiry Date<span style="color:red;">*</span></label>
                          <input type="date" class="form-control" id="tb_expiry" name="expiry" placeholder="dd/mm/yyyy" value="<%= actionText === 'edit' ? inventoryData.expiryDate : '' %>" tabindex="5" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_sku">SKU<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_sku" name="SKU" pattern="[a-zA-Z0-9\s]+" title="Alphanumeric only! Eg. FYP123456HD" placeholder="FYP123456HD" value="<%= actionText === 'edit' ? inventoryData.SKU : '' %>" tabindex="7" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="tb_Quantity">Quantity<span style="color:red;">*</span></label>
                              <input type="number" class="form-control" id="tb_Quantity" name="quantity" min="1" placeholder="100" value="<%= actionText === 'edit' ? inventoryData.quantity : '' %>" tabindex="2" required>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="tb_cost">Minimum Quantity</label>
                              <input type="number" class="form-control" id="tb_minQuantity" name="minQuantity" min="10" placeholder="Min Quantity: 10" value="<%= actionText === 'edit' ? inventoryData.minQuantity : '' %>" tabindex="3">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="tb_cost">Cost per Unit ($)<span style="color:red;">*</span></label>
                              <input type="number" class="form-control" step="0.01" id="tb_cost" name="cost" min="1" placeholder="1.99" value="<%= actionText === 'edit' ? inventoryData.costPerUnit : '' %>" tabindex="4" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="tb_inbound">Inbound Date<span style="color:red;">*</span></label>
                          <input type="date" class="form-control" id="tb_inbound" name="inbound" placeholder="dd/mm/yyyy" value="<%= actionText === 'edit' ? inventoryData.inboundDate : '' %>" tabindex="6" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_upc">UPC<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_upc" name="UPC" pattern="[0-9]{12}" title="12 digits only! Eg. 123456789012" placeholder="123456789012" value="<%= actionText === 'edit' ? inventoryData.UPC : '' %>" tabindex="8" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="tb_note">Note</label>
                          <textarea class="form-control" id="tb_note" name="note" placeholder="Additional notes" rows="4" tabindex="9"><%= actionText === 'edit' ? inventoryData.note : '' %></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer text-right">
                    <% if (actionText === 'edit') { %>
                    <input type="hidden" name="inventoryId" value="<%= inventoryData.inventoryId %>">
                    <% } %>
                    <% if (actionText !== 'edit') { %>
                    <button type="reset" class="btn btn-outline-danger mr-1" tabindex="11">Clear</button>
                    <% } %>
                    <button type="submit" class="btn btn-primary" tabindex="10">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
</body>

</html>