<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<link rel="stylesheet" href="/css/custom-input-date.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path === '/admin/patient/create' ? 'create' : 'edit' %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-capitalize"><%= actionText %> Patient Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="<%= path %>" method="post">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_lastName">First Name<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_lastName" name="firstName" placeholder="Enter first name" tabindex="1" value="<%= actionText === 'edit' ? patientData.firstName : '' %>" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_nric">NRIC<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_nric" name="nric" placeholder="S12345678Z" tabindex="3" value="<%= actionText === 'edit' ? patientData.nric : '' %>" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_Email">Email Address<span style="color:red;">*</span></label>
                          <input type="email" class="form-control" id="tb_Email" name="email" placeholder="abc@xyz.com" tabindex="5" value="<%= actionText === 'edit' ? patientData.email : '' %>" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_medicareID">Medicare ID</label>
                          <input type="text" class="form-control" id="tb_medicareID" name="medicareId" tabindex="7" value="<%= actionText === 'edit' ? patientData.medicareId : '' %>" placeholder="Enter medicare ID">
                        </div>
                        <div class="form-group">
                          <label for="tb_Address">Home Address<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_Address" name="address" tabindex="9" placeholder="Enter home address" value="<%= actionText === 'edit' ? patientData.address : '' %>" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_lastName">Last Name (Surname)<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_lastName" name="lastName" tabindex="2" placeholder="Enter last name" value="<%= actionText === 'edit' ? patientData.lastName : '' %>" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_DOB">Birthday<span style="color:red;">*</span></label>
                          <input type="date" class="form-control" id="tb_DOB" name="DOB" tabindex="4" placeholder="dd/mm/yyyy" value="<%= actionText === 'edit' ? patientData.DOB : '' %>" required>
                        </div>
                        <div class="form-group">
                          <label for="ddl_Gender">Gender<span style="color:red;">*</span></label>
                          <select class="form-control" id="ddl_Gender" name="gender" style="width: 100%;" tabindex="6" required>
                            <option <% if (actionText === 'create') { %>selected<% } %> disabled>Select one...</option>
                            <% if (actionText === 'create') { %>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <% } %>
                            <% if (actionText === 'edit') { %>
                            <option <% if (patientData.gender === 'Male') { %>selected<% } %> value="Male">Male</option>
                            <option <% if (patientData.gender === 'Female') { %>selected<% } %> value="Female">Female</option>
                            <% } %>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="tb_FamilyID">Family Group ID</label>
                          <input type="text" class="form-control" id="tb_FamilyID" name="familyId" tabindex="8" value="<%= actionText === 'edit' ? patientData.familyId : '' %>" placeholder="Enter family group ID">
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tb_Postal">Postal<span style="color:red;">*</span></label>
                              <input type="text" class="form-control" id="tb_Postal" name="postal" tabindex="10" placeholder="543210" value="<%= actionText === 'edit' ? patientData.postal : '' %>" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tb_Postal">Unit Number<span style="color:red;">*</span></label>
                              <input type="text" class="form-control" id="tb_Postal" name="unit" tabindex="11" placeholder="01-01" value="<%= actionText === 'edit' ? patientData.unit : '' %>" required>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer text-right">
                    <% if (actionText === 'edit') { %>
                    <input type="hidden" name="userId" value="<%= patientData.userId %>">
                    <input type="hidden" name="patientId" value="<%= patientData.patientId %>">
                    <% } %>
                    <% if (actionText !== 'edit') { %>
                    <button type="reset" class="btn btn-outline-danger mr-1">Clear</button>
                    <% } %>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- bs-custom-file-input -->
  <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(function() {
      bsCustomFileInput.init();
    });
  </script>
</body>

</html>