<%- include('../includes/head.ejs') %>

<!-- Select2 -->
<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path.split('/')[3] %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>

              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-capitalize">
                    <%= actionText === 'create' ? 'Get Queue Number' : '' %>
                    <%= actionText === 'edit' ? 'Link Appointment' : '' %>
                  </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="<%= path %>" method="post">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">

                          <% if (_userRole === 'Patient') { %>
                          <label for="ddl_Clinic">List of Clinics<span style="color:red;">*</span></label>
                          <select id="ddl_Clinic" name="clinicId" class="form-control select2bs4" style="width: 100%;" required>
                            <option selected="selected" disabled>Find clinic...</option>
                            <% for (let i = 0; i < clinicData.length; i++) { %>
                            <option value="<%= clinicData[i].clinicId %>" <% if (clinicData[i].clinicId == query.clinicId) { %>selected="selected" <% } %>><%= clinicData[i].clinicId %>. <%= clinicData[i].clinicName %> | <%= clinicData[i].clinicAddress + ' #' +  clinicData[i].clinicUnit + ' (S)' + clinicData[i].clinicPostal %></option>
                            <% } %>
                          </select>
                          <% if (appointmentData.length > 0) { %>
                          <div class="mt-4">
                            Suggestions based on your upcoming appointments <span class="badge bg-secondary"><%= appointmentData.length %></span>:
                            <ul>
                              <% for (let i = 0; i < appointmentData.length && i < 5 ; i++) { %>
                              <li><a href='/patient/queue/create?clinicId=<%= appointmentData[i].clinicId %>'><%= appointmentData[i].clinicId %>. <%= appointmentData[i].clinicName %></a></li>
                              <% } %>
                            </ul>
                          </div>
                          <% } %>
                          <% } %>

                          <% if (_userRole === 'Administrator') { %>
                          <label for="ddl_Appointment">Select an appointment<span style="color:red;">*</span></label>
                          <select id="ddl_Appointment" name="apptId" class="form-control select2bs4" style="width: 100%;" required>
                            <option selected="selected" disabled>Find appointment...</option>
                            <% for (let i = 0; i < appointmentData.length; i++) { %>
                            <option value="<%= appointmentData[i].apptId %>"><%= appointmentData[i].startDateTime %> | <%= appointmentData[i].status %></option>
                            <% } %>
                          </select>
                          <% if (_userRole === 'Administrator') { %>
                          <div class="mt-4 text-center">
                            <h5>- OR -</h5>
                            <a href="/admin/appointment/create" class="btn btn-outline-primary mt-2">
                              <i class="fas fa-plus mr-2"></i>
                              New Appointment
                            </a>
                          </div>
                          <% } %>
                          <% } %>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer text-right">
                    <% if (_userRole === 'Patient') { %>
                    <input type="hidden" name="patientId" value="<%= profileData.patientId %>">
                    <% } %>
                    <% if (_userRole === 'Administrator') { %>
                    <input type="hidden" name="queueId" value="<%= queueData.queueId %>">
                    <% } %>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- Select2 -->
  <script src="/plugins/select2/js/select2.full.min.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/plugins/moment/moment.min.js"></script>
  <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>

  <!-- Page specific script -->
  <script>
    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    });

    $('button[type=reset]').on('click', () => {
      $('#tb_NRIC').val('Find NRIC...').trigger('change');
    });

    //Date and time picker
    $('#tb_ApptDateTime').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      minDate: new Date(),
      icons: {
        time: 'far fa-clock'
      }
    });
  </script>
</body>

</html>