<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<link rel="stylesheet" href="/css/custom-input-date.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path.split('/')[3] %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>

              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-capitalize"><%= actionText %> Staff Account Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="<%= path %>" method="post">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_lastName">First Name<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_lastName" name="firstName" placeholder="Enter first name" tabindex="1" value="<%= actionText === 'edit' ? staffData.firstName : '' %>" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_nric">NRIC<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_nric" name="nric" placeholder="S1234567Z" tabindex="3" value="<%= actionText === 'edit' ? staffData.nric : '' %>" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_Email">Email Address<span style="color:red;">*</span></label>
                          <input type="email" class="form-control" id="tb_Email" name="email" placeholder="abc@xyz.com" tabindex="5" value="<%= actionText === 'edit' ? staffData.email : '' %>" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_lastName">Last Name (Surname)<span style="color:red;">*</span></label>
                          <input type="text" class="form-control" id="tb_lastName" name="lastName" tabindex="2" placeholder="Enter last name" value="<%= actionText === 'edit' ? staffData.lastName : '' %>" required>
                        </div>
                        <div class="form-group">
                          <label for="tb_DOB">Birthday<span style="color:red;">*</span></label>
                          <input type="date" class="form-control" id="tb_DOB" name="DOB" tabindex="4" placeholder="dd/mm/yyyy" value="<%= actionText === 'edit' ? staffData.DOB : '' %>" required>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="ddl_Gender">Gender<span style="color:red;">*</span></label>
                              <select class="form-control" id="ddl_Gender" name="gender" style="width: 100%;" tabindex="6" required>
                                <option <% if (actionText === 'create') { %>selected<% } %> disabled>Select one...</option>
                                <% if (actionText === 'create') { %>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <% } %>
                                <% if (actionText === 'edit') { %>
                                <option <% if (staffData.gender === 'Male') { %>selected<% } %> value="Male">Male</option>
                                <option <% if (staffData.gender === 'Female') { %>selected<% } %> value="Female">Female</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="ddl_Role">Role<span style="color:red;">*</span></label>
                              <select class="form-control" id="ddl_Role" name="role" style="width: 100%;" tabindex="7" required>
                                <option <% if (actionText === 'create') { %>selected<% } %> disabled>Select one...</option>
                                <% if (actionText === 'create') { %>
                                <option value="Administrator">Administrator</option>
                                <option value="Dentist">Dentist</option>
                                <option value="Dental Assistant">Dental Assistant</option>
                                <% } %>
                                <% if (actionText === 'edit') { %>
                                <option <% if (staffData.role === 'Administrator') { %>selected<% } %> value="Administrator">Administrator</option>
                                <option <% if (staffData.role === 'Dentist') { %>selected<% } %> value="Dentist">Dentist</option>
                                <option <% if (staffData.role === 'Dental Assistant') { %>selected<% } %> value="Dental Assistant">Dental Assistant</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer text-right">
                    <input type="hidden" name="clinicId" value="<%= _clinicId %>">
                    <% if (actionText === 'edit') { %>
                    <input type="hidden" name="userId" value="<%= staffData.userId %>">
                    <input type="hidden" name="staffId" value="<%= staffData.staffId %>">
                    <% } %>
                    <% if (actionText !== 'edit') { %>
                    <button type="reset" class="btn btn-outline-danger mr-1">Clear</button>
                    <% } %>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
</body>

</html>