<%- include('../includes/head.ejs') %>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Main content -->
              <div class="invoice p-3 mb-3">
                <%- include('invoice-body.ejs') %>

                <!-- this row will not appear when printing -->
                <div class="row no-print">
                  <div class="col-6">
                    <% if (_userRole === 'Administrator') { %>
                    <a href="/admin/bill/invoice-print?billId=<%= billData.billId %>" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                    <% } %>
                    <% if (_userRole === 'Patient') { %>
                    <a href="/patient/bill/invoice-print?billId=<%= billData.billId %>" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                    <% } %>
                  </div>
                  <div class="col-6">
                    <% if (billData.billStatus === 'Unpaid') { %>
                    <% if (_userRole === 'Administrator') { %>
                    <form action="/admin/bill/payment" method="post" onsubmit="return confirm('Do you wish to proceed to payment gateway?');">
                      <input type="hidden" name="billId" value="<%= billData.billId %>">
                      <input type="hidden" name="apptId" value="<%= billData.apptId %>">
                      <input type="hidden" name="paymentMethod" value="Credit Card">
                      <button type="submit" class="btn btn-outline-primary float-right"><i class="far fa-credit-card"></i>
                        Cashless Payment
                      </button>
                    </form>
                    <form action="/admin/bill/payment" method="post" onsubmit="return confirm('Do you wish to proceed with closing the invoice?');">
                      <input type="hidden" name="billId" value="<%= billData.billId %>">
                      <input type="hidden" name="apptId" value="<%= billData.apptId %>">
                      <input type="hidden" name="paymentMethod" value="Cash">
                      <button type="submit" class="btn btn-outline-success float-right mr-2"><i class="far fa-money-bill-alt"></i>
                        Paid by Cash
                      </button>
                    </form>
                    <a href="/admin/bill/medicare?billId=<%= billData.billId %>&apptId=<%= billData.apptId %>" class="btn btn-outline-primary float-right mr-2">
                      <i class="fas fa-shield-alt"></i>
                      Medicare Claim
                    </a>
                    <% } %>

                    <% if (_userRole === 'Patient') { %>
                    <form action="/patient/bill/payment" method="post" onsubmit="return confirm('Do you wish to proceed to payment gateway?');">
                      <input type="hidden" name="billId" value="<%= billData.billId %>">
                      <input type="hidden" name="apptId" value="<%= billData.apptId %>">
                      <input type="hidden" name="paymentMethod" value="Credit Card">
                      <button type="submit" class="btn btn-success float-right"><i class="far fa-credit-card"></i>
                        Pay by Card
                      </button>
                    </form>
                    <% } %>
                    <% } %>

                    <% if (_userRole === 'Administrator') { %>
                    <% if (billData.medicareFile) { %>
                    <form action="/admin/bill/medicare/download" method="post">
                      <input type="hidden" name="billId" value="<%= billData.billId %>">
                      <input type="hidden" name="apptId" value="<%= billData.apptId %>">
                      <input type="hidden" name="paymentMethod" value="Credit Card">
                      <button type="submit" class="btn btn-outline-info float-right mr-2"><i class="fas fa-download"></i>
                        Uploaded Medicare Form
                      </button>
                    </form>
                    <% } %>
                    <% } %>
                  </div>
                </div>
              </div>
              <!-- /.invoice -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- AdminLTE for demo purposes -->
  <script src="dist/js/demo.js"></script>

</body>

</html>