<%- include('../includes/head.ejs') %>
<!-- DataTables -->
<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">List of Appointments</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="tbl_Appointments" class="table table-bordered table-striped">
                    <% if (path === '/admin/appointment/view-all' || path === '/dentist/appointment/view-all') { %>
                    <thead>
                      <tr>
                        <th>Appt ID</th>
                        <th>Date & Time</th>
                        <th>Name</th>
                        <th>NRIC</th>
                        <th>Medicare ID</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < appointmentData.length; i++) { %>
                      <tr>
                        <td><%= appointmentData[i].apptId %></td>
                        <td><%= appointmentData[i].startDateTime %></td>
                        <td><%= appointmentData[i].lastName %> <%= appointmentData[i].firstName %></td>
                        <td><%= appointmentData[i].nric %></td>
                        <td><%= appointmentData[i].medicareId ? appointmentData[i].medicareId : 'Not Applicable' %></td>
                        <td><%= appointmentData[i].email %></td>
                        <td><%= appointmentData[i].gender %></td>
                        <td><%= appointmentData[i].status %></td>
                        <% if (path !== '/dentist/appointment/view-all') { %>
                        <td class="d-flex">
                          <a href="/admin/appointment/view/<%= appointmentData[i].apptId %>" class="btn btn-secondary mr-2" title="View Details"><i class="fas fa-eye"></i></a>
                          <% if(appointmentData[i].status === 'Upcoming') { %>
                          <a href="/admin/appointment/edit/<%= appointmentData[i].apptId %>" class="btn btn-primary mr-2" title="Edit"><i class="fas fa-edit"></i></a>
                          <form action="/admin/appointment/suspend" method="post" onsubmit="return confirm('Do you really want to suspend appointment ID #<%= appointmentData[i].apptId %>?');">
                            <input type="hidden" name="apptId" value="<%= appointmentData[i].apptId %>">
                            <input type="hidden" name="for" value="admin">
                            <button type="submit" class="btn btn-danger" title="Cancel"><i class="fas fa-user-times"></i></button>
                          </form>
                          <% } %>
                        </td>
                        <% } else { %>
                        <td class="d-flex">
                          <a href="/dentist/appointment/view/<%= appointmentData[i].apptId %>" class="btn btn-secondary mr-2" title="View Details"><i class="fas fa-eye"></i></a>
                        </td>
                        <% } %>
                      </tr>
                      <% } %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Appt ID</th>
                        <th>Date & Time</th>
                        <th>Name</th>
                        <th>NRIC</th>
                        <th>Medicare ID</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </tfoot>
                    <% } %>

                    <% if (path === '/patient/appointment/view-all') { %>
                    <thead>
                      <tr>
                        <th>Appt ID</th>
                        <th>Date & Time</th>
                        <th>Clinic Name</th>
                        <th>Clinic Address</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < appointmentData.length; i++) { %>
                      <tr>
                        <td><%= appointmentData[i].apptId %></td>
                        <td><%= appointmentData[i].startDateTime %></td>
                        <td><%= "Clinic Name (WIP)" %></td>
                        <td><%= "Clinic Address (WIP)" %></td>
                        <td><%= appointmentData[i].status %></td>
                        <td class="d-flex">
                          <a href="/patient/appointment/view/<%= appointmentData[i].apptId %>" class="btn btn-secondary mr-2" title="View Details"><i class="fas fa-eye"></i></a>
                          <% if(appointmentData[i].status === 'Upcoming') { %>
                          <a href="/patient/appointment/edit/<%= appointmentData[i].apptId %>" class="btn btn-primary mr-2" title="Edit"><i class="fas fa-edit"></i></a>
                          <form action="/patient/appointment/suspend" method="post" onsubmit="return confirm('Do you really want to suspend appointment ID #<%= appointmentData[i].apptId %>?');">
                            <input type="hidden" name="apptId" value="<%= appointmentData[i].apptId %>">
                            <input type="hidden" name="for" value="patient">
                            <button type="submit" class="btn btn-danger" title="Cancel"><i class="fas fa-user-times"></i></button>
                          </form>
                          <% } %>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Appt ID</th>
                        <th>Date & Time</th>
                        <th>Clinic Name</th>
                        <th>Clinic Address</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </tfoot>
                    <% } %>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- DataTables  & Plugins -->
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="/plugins/jszip/jszip.min.js"></script>
  <script src="/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(function() {
      $("#tbl_Appointments").DataTable({
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "buttons": [{
            extend: 'copy',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          {
            extend: 'csv',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          {
            extend: 'excel',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          {
            extend: 'pdf',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          {
            extend: 'print',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          "colvis"
        ]
      }).buttons().container().appendTo('#tbl_Appointments_wrapper .col-md-6:eq(0)');
    });
  </script>
</body>

</html>