<%- include('../includes/head.ejs') %>
<!-- DataTables -->
<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>
              <div id="divOralHealthRecord">
                <div class="row">
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title text-capitalize">Oral Health Records</h3>
                      </div>
                      <!-- /.card-header -->

                      <div class="card-body">
                      <% if (oralrecordData) { %>
                      <% for(let i = 0; i < oralrecordData.length; i++) { %>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="tb_recordTeeth">Tooth(s) Recorded</label>
                              <input type="text" class="form-control-plaintext" name="recordTeeth" value="<%= oralrecordData[i].recordTeeth ? oralrecordData[i].recordTeeth : 'Not recorded' %>" disabled>
                            </div>
                            <div class="form-group">
                              <label for="tb_TeethDesc">Teeth Description</label>
                              <textarea class="form-control-plaintext" name="recordDescription" disabled><%= oralrecordData[i].recordDescription ? oralrecordData[i].recordDescription : 'Not recorded' %></textarea>
                            </div>
                            <div class="form-group">
                              <label for="tb_CreatedAt">Created At</label>
                              <input type="text" class="form-control-plaintext" name="recordCreatedAt" value="<%= oralrecordData[i].recordCreatedAt ? oralrecordData[i].recordCreatedAt : 'Not recorded' %>" disabled>
                            </div>            
                          </div>
                        </div>
                        <hr>
                      <% } %>
                      <% } %>
                    </div>
                    </div>
                  </div>
                <!-- /.card-body -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- DataTables  & Plugins -->
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="/plugins/jszip/jszip.min.js"></script>
  <script src="/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

</body>

</html>