<%- include('../includes/head.ejs') %>
<!-- DataTables -->
<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>
              <div class="row">
                <% if (reviewData.length > 0){ %>
                <% for(let i = 0; i < reviewData.length; i++) { %>
                <div class="col-md-6">
                    <div class="card">
                    <div class="card-header">
                      <label><%= reviewData[i].reviewTitle %></label>                      
                    </div>
                    <div class="card-body">
                      <%= reviewData[i].reviewDescription %>
                      <blockquote class="blockquote mb-3">
                        Rating: <%= reviewData[i].reviewScore %>  <span class="fa fa-star checked"></span>
                      </blockquote>
                    </div>
                    <div class="card-footer text-right">
                      <a href="/patient/review/edit/<%= reviewData[i].reviewId %>" class="btn btn-primary">Edit Review</a>
                    </div>
                    </div>
                  </div>
                  <% } %>
                  <% }else{ %>
                    <div class="card-body">
                    <h5 class="login-box-msg">No review found!</h5>
                    </div>
                  <% } %>
                </div>

                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- DataTables  & Plugins -->
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="/plugins/jszip/jszip.min.js"></script>
  <script src="/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
  <style>
    .checked {
      color: orange;
    }
    </style>
</body>

</html>