<%- include('../includes/head.ejs') %>
<!-- DataTables -->
<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">List of Queues</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <% if (_userRole === 'Administrator') { %>
                  <table id="tbl_Queues" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Queue No.</th>
                        <th>Patient NRIC</th>
                        <th>Appointment Time</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < queueData.length; i++) { %>
                      <tr>
                        <td><%= String(queueData[i].queueNo).padStart(3, '0') %></td>
                        <td><%= queueData[i].nric %></td>
                        <td><%= queueData[i].startDateTime === 'Invalid date' ? 'No appointment linked yet' : queueData[i].startDateTime %></td>
                        <td><%= queueData[i].queueStatus %></td>
                        <td class="d-flex">
                          <form action="/admin/queue/call" method="post" onsubmit="return confirm('Do you want to call queue no. <%= String(queueData[i].queueNo).padStart(3, `0`) %> next?');">
                            <input type="hidden" name="queueId" value="<%= queueData[i].queueId %>">
                            <button type="submit" class="btn btn-success mr-2" title="Call Queue Number"><i class="fas fa-bell"></i></button>
                          </form>
                          <% if (queueData[i].queueStatus !== 'Skipped') { %>
                          <form action="/admin/queue/skip" method="post" onsubmit="return confirm('Do you want to add queue no. <%= String(queueData[i].queueNo).padStart(3, `0`) %> to the skipped list?');">
                            <input type="hidden" name="queueId" value="<%= queueData[i].queueId %>">
                            <button type="submit" class="btn btn-warning mr-2" title="Skip Queue Number"><i class="fas fa-bell-slash"></i></button>
                          </form>
                          <a href="/admin/queue/edit/<%= queueData[i].queueId %>" class="btn btn-primary mr-2" title="Link Appointment"><i class="fas fa-calendar-alt"></i></a>
                          <% } %>
                          <form action="/admin/queue/suspend" method="post" onsubmit="return confirm('Are you sure you want to cancel queue no. <%= String(queueData[i].queueNo).padStart(3, `0`) %>?');">
                            <input type="hidden" name="queueId" value="<%= queueData[i].queueId %>">
                            <button type="submit" class="btn btn-danger mr-2" title="Cancel Queue Number"><i class="fas fa-times"></i></button>
                          </form>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Queue No.</th>
                        <th>Patient NRIC</th>
                        <th>Appointment Time</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                  </table>
                  <% } %>

                  <% if (_userRole === 'Dentist' || _userRole === 'Dental Assistant') { %>
                  <table id="tbl_Queues" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Queue No.</th>
                        <th>Appointment Time</th>
                        <th>Dentist In-Charge</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < queueData.length; i++) { %>
                      <tr>
                        <td><%= String(queueData[i].queueNo).padStart(3, '0') %></td>
                        <td><%= queueData[i].startDateTime === 'Invalid date' ? 'No appointment linked yet' : queueData[i].startDateTime %></td>
                        <td><%= 'Dr. ' + queueData[i].firstName + ' ' + queueData[i].lastName %></td>
                        <td><%= queueData[i].queueStatus %></td>
                        <td class="d-flex">
                          <form action="#" method="post" onsubmit="return confirm('Do you want to call queue no. <%= String(queueData[i].queueNo).padStart(3, `0`) %> next?');">
                            <input type="hidden" name="queueId" value="<%= queueData[i].queueId %>">
                            <button type="submit" class="btn btn-success mr-2" title="Call Queue Number"><i class="fas fa-bell"></i></button>
                          </form>
                          <form action="#" method="post" onsubmit="return confirm('Do you want to add queue no. <%= String(queueData[i].queueNo).padStart(3, `0`) %> to the missed list?');">
                            <input type="hidden" name="queueId" value="<%= queueData[i].queueId %>">
                            <button type="submit" class="btn btn-warning mr-2" title="Skip Queue Number"><i class="fas fa-bell-slash"></i></button>
                          </form>
                          <% if (_userRole === 'Dentist') { %>
                          <% let confirmationMsg = "" %>
                          <% if (_staffId === queueData[i].staffId) { %>
                          <% confirmationMsg = "Do you want to begin treatment session for queue no." + String(queueData[i].queueNo).padStart(3, `0`) + "?" %>
                          <% } else { %>
                          <% confirmationMsg = "WARNING: You are not the assigned doctor. \\n\\nDo you want to begin treatment session for queue no. " + String(queueData[i].queueNo).padStart(3, `0`) + "?" %>
                          <% } %>
                          <form action="/dentist/queue/start-session" method="post" onsubmit="return confirm('<%= confirmationMsg %>');">
                            <input type="hidden" name="queueId" value="<%= queueData[i].queueId %>">
                            <input type="hidden" name="apptId" value="<%= queueData[i].apptId %>">
                            <input type="hidden" name="staffId" value="<%= queueData[i].staffId %>">
                            <button type="submit" class="btn btn-primary mr-2" title="Start Session"><i class="fas fa-hand-holding-medical"></i></button>
                          </form>
                          <% } %>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Queue No.</th>
                        <th>Appointment Time</th>
                        <th>Dentist In-Charge</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                  </table>
                  <% } %>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- DataTables  & Plugins -->
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="/plugins/jszip/jszip.min.js"></script>
  <script src="/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(function() {
      $("#tbl_Queues").DataTable({
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "order": [
          [1, 'asc']
        ],
        "buttons": [{
            extend: 'copy',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          {
            extend: 'csv',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          {
            extend: 'excel',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          {
            extend: 'pdf',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          {
            extend: 'print',
            exportOptions: {
              columns: 'th:not(:last-child)'
            }
          },
          "colvis"
        ]
      }).buttons().container().appendTo('#tbl_Queues_wrapper .col-md-6:eq(0)');
    });
  </script>
</body>

</html>