<%- include('../includes/head.ejs') %>

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Appointment Details</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_firstName">First Name:</label>
                          <input type="text" class="form-control-plaintext" id="tb_firstName" name="firstName" tabindex="1" value="<%= userData.firstName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_NRIC">Patient's NRIC:</label>
                          <input type="text" class="form-control-plaintext" id="tb_NRIC" name="nric" tabindex="3" value="<%= userData.nric %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_Dentist">Dentist:</label>
                          <input type="text" class="form-control-plaintext" id="tb_Dentist" name="name" tabindex="5" value="Dr. <%= dentistData.firstName + ' ' + dentistData.lastName %>" disabled>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_lastName">Last Name (Surname):</label>
                          <input type="text" class="form-control-plaintext" id="tb_lastName" name="lastName" tabindex="2" value="<%= userData.lastName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_ClinicName">Clinic Name:</label>
                          <input type="text" class="form-control-plaintext" id="tb_ClinicName" name="clinicName" tabindex="4" value="<%= dentistData.clinicName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_ApptDateTime">Appointment Date & Time:</label>
                          <input type="text" class="form-control-plaintext" id="tb_ApptDateTime" name="startDateTime" tabindex="6" value="<%= userData.startDateTime %>" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <% if (userRole !== 'dentist' && userData.status === 'Upcoming') { %>
                  <div class="card-footer text-right">
                    <a href="/<%= userRole %>/appointment/edit/<%= userData.apptId %>" class="btn btn-primary">Edit</a>
                  </div>
                  <% } %>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

          <% if (userRole !== 'patient' ) { %>
          <!-- Patient Details Card -->
          <%- include('../includes/patient-card.ejs') %>
          <% } %>
          <% if (userRole === 'patient' ) { %>
            <!-- Patient Details Card -->
            <%- include('../includes/my-card.ejs') %>
            <% } %>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/plugins/moment/moment.min.js"></script>
  <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
</body>

</html>