<%- include('../includes/head.ejs') %>

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Appointment Details</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_firstName">First Name:</label>
                          <input type="text" class="form-control-plaintext" id="tb_firstName" name="firstName" tabindex="1" value="<%= userData.firstName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_NRIC">Patient's NRIC:</label>
                          <input type="text" class="form-control-plaintext" id="tb_NRIC" name="nric" tabindex="3" value="<%= userData.nric %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_Dentist">Dentist:</label>
                          <input type="text" class="form-control-plaintext" id="tb_Dentist" name="name" tabindex="5" value="Dr. <%= dentistData.firstName + ' ' + dentistData.lastName %>" disabled>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_lastName">Last Name (Surname):</label>
                          <input type="text" class="form-control-plaintext" id="tb_lastName" name="lastName" tabindex="2" value="<%= userData.lastName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_ClinicName">Clinic Name:</label>
                          <input type="text" class="form-control-plaintext" id="tb_ClinicName" name="clinicName" tabindex="4" value="<%= dentistData.clinicName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_ApptDateTime">Appointment Date & Time:</label>
                          <input type="text" class="form-control-plaintext" id="tb_ApptDateTime" name="startDateTime" tabindex="6" value="<%= userData.startDateTime %>" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <% if (userRole !== 'dentist' && userData.status === 'Upcoming') { %>
                  <div class="card-footer text-right">
                    <a href="/<%= userRole %>/appointment/edit/<%= userData.apptId %>" class="btn btn-primary">Edit</a>
                  </div>
                  <% } %>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

          <% if (treatmentData.length > 0) { %>
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title text-capitalize">Treatments</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="tbl_Treatments" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Treatment</th>
                        <th>Price (S$)</th>
                        <th>Treated Tooth(s)</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < treatmentData.length; i++) { %>
                      <tr>
                        <td><%= i + 1 %></td>
                        <td><%= treatmentData[i].treatmentName %></td>
                        <td><%= treatmentData[i].treatmentPrice %></td>
                        <td><%= treatmentData[i].treatmentTeeth === '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32' ? 'ALL' : treatmentData[i].treatmentTeeth %></td>
                        <td><%= treatmentData[i].treatmentStart %></td>
                        <td><%= treatmentData[i].treatmentEnd !== 'Invalid date' ? treatmentData[i].treatmentEnd : 'In progress' %></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <% } %>
          <!-- /.row -->

          <% if (participantData.length > 0) { %>
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title text-capitalize">Participants</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="tbl_Participants" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Staff</th>
                        <th>Role</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < participantData.length; i++) { %>
                      <tr>
                        <td><%= i + 1 %></td>
                        <td>
                          <% if (participantData[i].role === 'Dentist') { %>
                          Dr.
                          <% } %>
                          <% if (participantData[i].gender === 'Male' && participantData[i].role !== 'Dentist') { %>
                          Mr.
                          <% } %>
                          <% if (participantData[i].gender === 'Female' && participantData[i].role !== 'Dentist') { %>
                          Ms.
                          <% } %>
                          <%= participantData[i].firstName + ' ' + participantData[i].lastName %>
                        </td>
                        <td><%= participantData[i].role %></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <% } %>
          <!-- /.row -->

          <% if (usedMaterialData.length > 0) { %>
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title text-capitalize">Materials Used</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="tbl_UsedMaterials" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Treatment</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < usedMaterialData.length; i++) { %>
                      <tr>
                        <td><%= i + 1 %></td>
                        <td><%= usedMaterialData[i].treatmentName %></td>
                        <td><%= usedMaterialData[i].name %></td>
                        <td><%= usedMaterialData[i].materialQty %></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <% } %>
          <!-- /.row -->

          <% if (userRole !== 'patient' ) { %>
          <!-- Patient Details Card -->
          <%- include('../includes/patient-card.ejs') %>
          <% } %>
          <% if (userRole === 'patient' &&  userData.status === 'Completed') { %>
          <!-- Patient Details Card -->
          <%- include('../includes/my-card.ejs') %>
          <% } %>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/plugins/moment/moment.min.js"></script>
  <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
</body>

</html>