<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<link rel="stylesheet" href="/css/custom-input-date.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path === '/admin/clinic/create' ? 'create' : 'edit' %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Flash Message -->
              <%- include('../includes/flash-message.ejs') %>

              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-capitalize">Clinic Information</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_ClinicId">Clinic ID:</label>
                          <div><%= clinicData.clinicId %></div>
                        </div>
                        <div class="form-group">
                          <label for="tb_Email">Email Address:</label>
                          <div><a href="mailto:<%= clinicData.clinicEmail %>"><%= clinicData.clinicEmail %></a></div>
                        </div>
                        <div class="form-group">
                          <label for="tb_Phone">Phone:</label>
                          <div><a href="https://wa.me/65<%= clinicData.clinicPhone %>" target="_blank"><%= clinicData.clinicPhone %></a></div>
                        </div>
                        <div class="form-group">
                          <label for="tb_Address">Address:</label>
                          <div><a href="https://maps.google.com/maps?q=<%= encodeURIComponent(clinicData.clinicName) %>%20Singapore+<%= clinicData.clinicPostal %>" target="_blank"><%= clinicData.clinicAddress %></a></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_ClinicName">Name:</label>
                          <div><%= clinicData.clinicName %></div>
                        </div>
                        <div class="form-group">
                          <label for="tb_SubEmail">Email Address (Secondary):</label>
                          <div><%= clinicData.clinicSubEmail ? clinicData.clinicSubEmail : 'Not provided' %></div>
                        </div>
                        <div class="form-group">
                          <label for="tb_ClinicSubPhone">Phone (Secondary):</label>
                          <div><%= clinicData.clinicSubPhone ? clinicData.clinicSubPhone : 'Not provided' %></div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tb_Postal">Postal:</label>
                              <div><a href="https://maps.google.com/maps?q=<%= encodeURIComponent(clinicData.clinicName) %>%20Singapore+<%= clinicData.clinicPostal %>" target="_blank"><%= clinicData.clinicPostal %></a></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tb_Unit">Unit Number:</label>
                              <div><%= clinicData.clinicUnit %></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <% if (_isLoggedIn) { %>
                  <% if (_userRole === 'Administrator' && _clinicId === clinicData.clinicId) { %>
                  <div class="card-footer text-right">
                    <a href="/admin/clinic/edit/<%= clinicData.clinicId %>" class="btn btn-primary">Edit</a>
                  </div>
                  <% } %>
                </form>
                <% } %>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

          <% if (path === '/clinic/view') { %>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Treatments Available</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <% if (path === '/clinic/view' && clinicTreatmentData.length > 0) { %>
                  <table id="tbl_Treatments" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Treatment Name</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < clinicTreatmentData.length; i++) { %>
                      <tr>
                        <td><%= clinicTreatmentData[i].ctName %></td>
                        <td><%= '$ ' + clinicTreatmentData[i].ctPrice %></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <% } else { %>
                  <span class="text-danger">No treatment listed, please contact the clinic for more information.</span>
                  <% } %>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <% } %>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
</body>

</html>