<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<link rel="stylesheet" href="/css/custom-input-date.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path === '/admin/patient/create' ? 'create' : 'edit' %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Flash Message -->
              <%- include('../includes/flash-message.ejs') %>

              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-capitalize">Clinic Information</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_ClinicId">Clinic ID:</label>
                          <input type="text" class="form-control-plaintext" id="tb_ClinicId" name="clinicId" tabindex="1" value="<%= clinicData.clinicId %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_Email">Email Address:</label>
                          <input type="email" class="form-control-plaintext" id="tb_Email" name="clinicEmail" tabindex="5" value="<%= clinicData.clinicEmail %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_Phone">Phone:</label>
                          <input type="text" class="form-control-plaintext" id="tb_Phone" pattern="^[0-9]{8}$" title="E.g 98765432" name="clinicPhone" tabindex="3" value="<%= clinicData.clinicPhone %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_Address">Address:</label>
                          <input type="text" class="form-control-plaintext" id="tb_Address" name="clinicAddress" tabindex="9" value="<%= clinicData.clinicAddress %>" disabled>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_ClinicName">Name:</label>
                          <input type="text" class="form-control-plaintext" id="tb_ClinicName" name="clinicName" tabindex="2" value="<%= clinicData.clinicName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_SubEmail">Email Address (Secondary):</label>
                          <input type="email" class="form-control-plaintext" id="tb_SubEmail" name="clinicSubEmail" tabindex="3" value="<%= clinicData.clinicSubEmail ? clinicData.clinicSubEmail : 'Not provided' %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_ClinicSubPhone">Phone (Secondary):</label>
                          <input type="text" class="form-control-plaintext" id="tb_ClinicSubPhone" name="clinicSubPhone" pattern="^[0-9]{8}$" title="E.g 98765432" tabindex="3" value="<%= clinicData.clinicSubPhone ? clinicData.clinicSubPhone : 'Not provided' %>" disabled>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tb_Postal">Postal:</label>
                              <input type="text" class="form-control-plaintext" id="tb_Postal" name="clinicPostal" tabindex="10" pattern="\b[0-9]{6}\b" title="E.g 543210" value="<%= clinicData.clinicPostal %>" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tb_Unit">Unit Number:</label>
                              <input type="text" class="form-control-plaintext" id="tb_Unit" name="clinicUnit" tabindex="11" value="<%= clinicData.clinicUnit %>" disabled>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <% if (_isLoggedIn) { %>
                  <% if (_userRole === 'Administrator') { %>
                  <div class="card-footer text-right">
                    <a href="/admin/clinic/edit/<%= clinicData.clinicId %>" class="btn btn-primary">Edit</a>
                  </div>
                  <% } %>
                  <% } %>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- disabled SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- bs-custom-file-input -->
  <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(function() {
      bsCustomFileInput.init();
    });
  </script>
</body>

</html>