<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<link rel="stylesheet" href="/css/custom-input-date.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path === '/admin/inventory/create' ? 'create' : 'edit' %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>

              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Inventory Inbound Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_itemName">Item Name</label>
                          <input type="text" class="form-control-plaintext" id="tb_itemName" name="itemName" pattern="[a-zA-Z\s]+" title="E.g Antibiotics" value="<%= inventoryData.name %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_expiry">Expiry Date</label>
                          <input type="text" class="form-control-plaintext" id="tb_expiry" min="<%= new Date().toISOString().split('T')[0] %>" name="expiry" value="<%= inventoryData.expiryDate %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_sku">SKU<span style="color:red;">*</span></label>
                          <input type="text" class="form-control-plaintext" id="tb_sku" name="SKU" pattern="[a-zA-Z0-9\s]+" title="Alphanumeric only! Eg. FYP123456HD" value="<%= inventoryData.SKU %>" disabled>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="tb_Quantity">Quantity<span style="color:red;">*</span></label>
                              <input type="number" class="form-control-plaintext" id="tb_Quantity" name="quantity" min="1" value="<%= inventoryData.quantity %>" disabled>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="tb_Quantity">Minimum Quantity</label>
                              <input type="number" class="form-control-plaintext" id="tb_minQuantity" name="minQuantity" min="10" value="<%= inventoryData.minQuantity %>" disabled>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="tb_cost">Cost per Unit ($)<span style="color:red;">*</span></label>
                              <input type="number" class="form-control-plaintext" step="0.01" id="tb_cost" name="cost" min="1" value="<%= inventoryData.costPerUnit %>" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="tb_inbound">Inbound Date<span style="color:red;">*</span></label>
                          <input type="text" class="form-control-plaintext" min="<%= new Date().toISOString().split('T')[0] %>" id="tb_inbound" name="inbound" value="<%= inventoryData.inboundDate %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_upc">UPC<span style="color:red;">*</span></label>
                          <input type="text" class="form-control-plaintext" id="tb_upc" name="UPC" pattern="[0-9]{12}" title="12 digits only! Eg. 123456789012" value="<%= inventoryData.UPC %>" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="tb_note">Note</label>
                          <textarea class="form-control-plaintext" id="tb_note" name="note" rows="4" disabled><%= inventoryData.note %></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-right">
                    <a href="/admin/inventory/edit/<%= inventoryData.inventoryId %>" class="btn btn-primary">Edit</a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
</body>

</html>