<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<link rel="stylesheet" href="/css/custom-input-date.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path === '/dentist/oral-record/create' ? 'create' : 'edit' %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>

              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Oral Record Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="recordTeeth">Select Teeth</label>
                          <input type="text" class="form-control-plaintext" name="recordTeeth" value="<%= oralrecordData.recordTeeth %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_TeethDesc">Teeth Description</label>
                          <textarea class="form-control-plaintext" name="recordDescription" disabled><%= oralrecordData.recordDescription %></textarea>
                        </div>
                        <div class="form-group">
                          <label for="tb_CreatedAt">Created At</label>
                          <input type="text" class="form-control-plaintext" name="recordCreatedAt" value="<%= oralrecordData.recordCreatedAt %>" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <% if (_userRole === "Dentist") { %>
                  <div class="card-footer text-right">
                    <a href="/dentist/oral-record/edit/<%= oralrecordData.recordId %>" class="btn btn-primary">Edit</a>
                  </div>
                  <% } %>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
</body>

</html>