<%- include('../includes/head.ejs') %>
<!-- Custom Input Date -->
<link rel="stylesheet" href="/css/custom-input-date.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <% let actionText = path === '/profile' ? 'create' : 'edit' %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-capitalize">View Profile Details</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_lastName">First Name:</label>
                          <input type="text" class="form-control-plaintext" id="tb_lastName" pattern="[a-zA-Z\s]+" title="E.g James Cameron" name="firstName" tabindex="1" value="<%= profileData.firstName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_nric">NRIC:</label>
                          <input type="text" class="form-control-plaintext" id="tb_nric" name="nric" pattern="^[STFG]\d{7}[A-Z]$" title="E.g S1234567Z" tabindex="3" value="<%= profileData.nric %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_Email">Email Address:</label>
                          <input type="email" class="form-control-plaintext" id="tb_Email" name="email" tabindex="5" value="<%= profileData.email %>" disabled>
                        </div>
                        <% if (_userRole === "Patient") { %>
                        <div class="form-group">
                          <label for="tb_Address">Home Address:</label>
                          <input type="text" class="form-control-plaintext" id="tb_Address" name="address" tabindex="9" value="<%= profileData.address %>" disabled>
                        </div>
                        <% } %>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tb_lastName">Last Name (Surname):</label>
                          <input type="text" class="form-control-plaintext" id="tb_lastName" name="lastName" pattern="[a-zA-Z\s]+" title="E.g Tan" tabindex="2" value="<%= profileData.lastName %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_DOB">Birthday:</label>
                          <input type="date" class="form-control-plaintext" id="tb_DOB" name="DOB" min="1922-01-01" max="<%= new Date().toISOString().split('T')[0] %>" tabindex="4" value="<%= profileData.DOB %>" disabled>
                        </div>
                        <div class="form-group">
                          <label for="tb_Gender">Gender:</label>
                          <input type="text" class="form-control-plaintext" id="tb_Gender" name="lastName" tabindex="6" value="<%= profileData.gender %>" disabled>
                        </div>
                        <% if (_userRole === "Patient") { %>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tb_Postal">Postal:</label>
                              <input type="text" class="form-control-plaintext" id="tb_Postal" name="postal" pattern="\b[0-9]{6}\b" title="E.g 543210" tabindex="10" value="<%= profileData.postal %>" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tb_Postal">Unit Number:</label>
                              <input type="text" class="form-control-plaintext" id="tb_Postal" name="unit" tabindex="11" value="<%= profileData.unit %>" disabled>
                            </div>
                          </div>
                        </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer text-right">
                    <% if (_userRole === "Patient") { %>
                    <a href="/patient/profile/edit/<%= profileData.userId %>" class="btn btn-primary">Edit</a>
                    <% } %>
                    <% if (_userRole === "Administrator") { %>
                      <a href="/admin/profile/edit/<%= profileData.userId %>" class="btn btn-primary">Edit</a>
                    <% } %>
                    <% if (_userRole === "Dentist") { %>
                      <a href="/dentist/profile/edit/<%= profileData.userId %>" class="btn btn-primary">Edit</a>
                    <% } %>

                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- disabled SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- bs-custom-file-input -->
  <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(function() {
      bsCustomFileInput.init();
    });
  </script>
</body>

</html>