<%- include('../includes/head.ejs') %>
<!-- DataTables -->
<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../includes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('../includes/content-header.ejs') %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Error Message -->
              <%- include('../includes/flash-message.ejs') %>

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title text-capitalize"><%= path.split('/')[4] %> Bills</h3>
                </div>
                <!-- /.card-header -->
                <form>
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col-md-5">
                        <div class="form-group">
                          <div class="input-group date" id="tb_StartDate" data-target-input="nearest">
                            <input type="text" name="startDate" class="form-control datetimepicker-input" data-target="#tb_StartDate" tabindex="1" placeholder="Start Date (DD/MM/YYYY)" value="<%= query.startDate %>" required />
                            <div class="input-group-append" data-target="#tb_StartDate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <div class="input-group date" id="tb_EndDate" data-target-input="nearest">
                            <input type="text" name="endDate" class="form-control datetimepicker-input" data-target="#tb_EndDate" tabindex="1" placeholder="End Date (DD/MM/YYYY)" value="<%= query.endDate %>" required />
                            <div class="input-group-append" data-target="#tb_EndDate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <button class="btn btn-outline-primary mb-2" type="submit" style="width: 100%">
                          <i class="fas fa-search mr-2"></i>
                          Search
                        </button>
                      </div>
                      <div class="col-md-1">
                        <a href="<%= path %>" class="btn btn-outline-danger mb-2" style="width: 100%">
                          <i class="fas fa-redo mr-2"></i>
                          Reset
                        </a>
                      </div>
                    </div>

                    <table id="tbl_Bills" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>ID #</th>
                          <th>NRIC</th>
                          <th>Billed On</th>
                          <th>Paid On</th>
                          <th>Total ($)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let i = 0; i < billData.length; i++) { %>
                        <tr>
                          <td><%= billData[i].billId %></td>
                          <td><%= billData[i].nric %></td>
                          <td><%= billData[i].billDateTime %></td>
                          <td>
                            <% if (billData[i].billStatus === 'Paid') { %>
                            <%= billData[i].paymentDateTime %>
                            <% } else { %>
                            N/A
                            <% } %>
                          </td>
                          <td><%= billData[i].billTotal %></td>
                        </tr>
                        <% } %>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>ID #</th>
                          <th>NRIC</th>
                          <th>Billed On</th>
                          <th>Paid On</th>
                          <th>Total ($)</th>
                        </tr>
                      </tfoot>
                    </table>

                    <div class="row mt-4 mb-2">
                      <div class="col-md-4 offset-md-8">
                        <h5>Summary</h5>
                        <div class="table-responsive">
                          <table class="table">
                            <tr>
                              <th style="width:50%">Subtotal:</th>
                              <td>$<%= billSumData ? Number(billSumData.subtotal).toLocaleString(undefined, {minimumFractionDigits: 2}) : '0.00' %></td>
                            </tr>
                            <tr>
                              <th>GST (8%)</th>
                              <td>$<%= billSumData ? Number(billSumData.totalTax).toLocaleString(undefined, {minimumFractionDigits: 2}) : '0.00' %></td>
                            </tr>
                            <tr>
                              <th>Total:</th>
                              <td>$<%= billSumData ? Number(billSumData.total).toLocaleString(undefined, {minimumFractionDigits: 2}) : '0.00' %></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- End -->
    <%- include('../includes/footer.ejs') %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

  <!-- DataTables  & Plugins -->
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="/plugins/jszip/jszip.min.js"></script>
  <script src="/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/plugins/moment/moment.min.js"></script>
  <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Page specific script -->
  <script>
    $(function() {
      $("#tbl_Bills").DataTable({
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "order": [
          [0, 'desc']
        ],
        "buttons": [{
            extend: 'copy',
            exportOptions: {
              columns: [':visible']
            }
          },
          {
            extend: 'csv',
            exportOptions: {
              columns: [':visible']
            }
          },
          {
            extend: 'excel',
            exportOptions: {
              columns: [':visible']
            }
          },
          {
            extend: 'pdf',
            exportOptions: {
              columns: [':visible']
            }
          },
          {
            extend: 'print',
            exportOptions: {
              columns: [':visible']
            }
          },
          "colvis"
        ]
      }).buttons().container().appendTo('#tbl_Bills_wrapper .col-md-6:eq(0)');

      //Date and time picker
      $('#tb_StartDate').datetimepicker({
        format: 'DD/MM/YYYY'
      });
      $('#tb_EndDate').datetimepicker({
        format: 'DD/MM/YYYY'
      });
    });
  </script>
</body>

</html>