<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HappySmile | Home</title>
  <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
  <link rel="stylesheet" href="dist/css/home.css">
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>

<body class="is-boxed has-animations">
  <div class="body-wrap boxed-container">
    <header class="site-header">
      <div class="container">
        <div class="site-header-inner">
          <div class="brand header-brand">
            <h1 class="m-0">
              <img class="header-logo-image asset-light" src="img/HappySmileLogo_Full_Primary.png" alt="Logo">
              <img class="header-logo-image asset-dark" src="img/HappySmileLogo_Full_White.png" alt="Logo">
            </h1>
          </div>
          <a href="https://fyp-22-s4-23.wixsite.com/happysmile" target="_blank">For Business Owners</a>
        </div>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="container">
          <div class="hero-inner">
            <div class="hero-copy">
              <h1 class="hero-title mt-0">One Stop Platform For Your Dental Health Care.</h1>
              <p class="hero-paragraph">Chat online with a <a href="https://t.me/dhrms_happysmile_bot">assistant bot</a>
                or <a href="/clinic/search">find a dental clinic nearby</a> to book your appointment now. However you would like to consult a dentist, we got you covered.</p>
              <div class="hero-cta">
                <a class="button button-primary" href="/login">Login Now</a>
                <div class="lights-toggle">
                  <input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch" checked="checked">
                  <label for="lights-toggle" class="text-xs"><span>Turn me <span class="label-text">dark</span></span></label>
                </div>
              </div>
            </div>
            <div class="hero-media">
              <div class="hero-media-illustration">
                <img class="hero-media-illustration-image asset-light" src="dist/img/home/hero-media-illustration-light.svg" alt="Hero media illustration">
                <img class="hero-media-illustration-image asset-dark" src="dist/img/home/hero-media-illustration-dark.svg" alt="Hero media illustration">
              </div>
              <div class="hero-media-container">
                <img class="hero-media-image asset-light" src="dist/img/home/dentist-with-smile.jpg" alt="Hero media">
                <img class="hero-media-image asset-dark" src="dist/img/home/dentist-with-smile.jpg" alt="Hero media">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="features section">
        <div class="container">
          <div class="features-inner section-inner has-bottom-divider">
            <div class="features-header text-center">
              <div class="container-sm">
                <h2 class="section-title mt-0">Dental Clinics</h2>
                <p class="section-paragraph">Difficulty with getting an appointment and stress of long waiting times?
                  With HappySmile, simply book an appointment or take a queue number from all these clinics anytime, anywhere.</p>
                <div class="features-image">
                  <img class="features-illustration asset-dark" src="dist/img/home/features-illustration-dark.svg" alt="Feature illustration">
                  <img class="features-box asset-dark" src="dist/img/home/dentists-office-interior.jpg" alt="Feature box">
                  <img class="features-illustration asset-dark" src="dist/img/home/features-illustration-top-dark.svg" alt="Feature illustration top">
                  <img class="features-illustration asset-light" src="dist/img/home/features-illustration-light.svg" alt="Feature illustration">
                  <img class="features-box asset-light" src="dist/img/home/dentists-office-interior.jpg" alt="Feature box">
                  <img class="features-illustration asset-light" src="dist/img/home/features-illustration-top-light.svg" alt="Feature illustration top">
                </div>
              </div>
            </div>
            <div class="row">
              <% for(let i = 0; i < clinicsData.length; i++) { %>
              <div class="col-md-6">
                <div class="feature is-revealing">
                  <div class="feature-inner">
                    <div class="feature-icon">
                      <img class="asset-light" src="dist/img/home/feature-03-light.svg" alt="Feature 01">
                      <img class="asset-dark" src="dist/img/home/feature-03-dark.svg" alt="Feature 01">
                    </div>
                    <div class="feature-content">
                      <h3 class="feature-title mt-0"><%= clinicsData[i].clinicName %></h3>
                      <p class="text-sm mb-0"><b>Clinic Address:</b> <%= clinicsData[i].clinicAddress %></p>
                      <p class="text-sm mb-1"><b>Unit No:</b> <%= clinicsData[i].clinicUnit %>
                        <b>Postal:</b> (S) <%= clinicsData[i].clinicPostal %>
                      </p>
                      <a href="/clinic/view/<%= clinicsData[i].clinicId %>">Treatments</a> | <a href="/review/view-all/<%= clinicsData[i].clinicId %>">Customer Reviews</a>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>

              <div class="cta-cta">
                <a class="button button-primary" href="/clinic/view-all">View More</a>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="cta section">
        <div class="container-sm">
          <div class="cta-inner section-inner">
            <div class="cta-header text-center">
              <h2 class="section-title mt-0">Start Your Dental Health Care Journey With Our Dental Clinics Today!</h2>
              <!-- <p class="section-paragraph">Check out all the dental clinics</p> -->
              <div class="cta-cta">
                <a class="button button-primary" href="/register">Register An Account</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="site-footer has-top-divider">
      <div class="container">
        <div class="site-footer-inner">
          <div class="brand footer-brand">
            <a href="#">
              <img class="asset-light" src="img/HappySmileLogo_Full_Primary.png" alt="Logo">
              <img class="asset-dark" src="img/HappySmileLogo_Full_White.png" alt="Logo">
            </a>
          </div>
          <ul class="footer-links list-reset">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="/register">Register</a>
            </li>
            <li>
              <a href="/faq">FAQ's</a>
            </li>
            <li>
              <a href="/clinic/search">Find A Clinic Near Me</a>
            </li>
          </ul>
          <ul class="footer-social-links list-reset">
            <li>
              <span class="screen-reader-text">Facebook</span>
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
              </svg>
            </li>
            <li>
              <span class="screen-reader-text">Twitter</span>
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
              </svg>
            </li>
            <li>
              <span class="screen-reader-text">Google</span>
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
              </svg>
            </li>
          </ul>
          <div class="footer-copyright">&copy;
            <script>
              document.write(new Date().getFullYear())
            </script>
            HappySmile. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="dist/js/home.min.js"></script>
</body>

</html>